%% -*- erlang -*-

{erl_opts, [inline,
            debug_info,
            warnings_as_errors,
            warn_untyped_records]}.

{deps, [{gproc, ".*", {git, "https://github.com/esl/gproc.git"}},
        {lager, ".*",{git, "https://github.com/basho/lager.git"}},
        {tempo, ".*", {git, "https://github.com/selectel/tempo.git"}}]}.
