%% -*- erlang -*-

{erl_opts, [inline,
            debug_info,
            warnings_as_errors,
            warn_untyped_records]}.

{deps, [{gproc, ".*", {git, "https://github.com/esl/gproc.git"}},
        {lager, "1.0.0",
         {git, "https://github.com/basho/lager.git", {tag, "1.0.0"}}},
        {tempo, ".*", {git, "https://github.com/selectel/tempo.git"}}]}.
