%% -*- erlang -*-

{erl_opts, [inline,
            debug_info,
            warnings_as_errors,
            warn_untyped_records]}.

{deps, [{gproc, ".*",
         {git, "https://github.com/uwiger/gproc.git", {tag, "0.5"}}},
        {lager, ".*",
         {git, "https://github.com/basho/lager.git", {tag, "3.0.2"}}},
        {tempo, ".*",
         {git, "https://github.com/selectel/tempo.git", {tag, "0.4.2"}}}]}.
